@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Kalnia:wght@600&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans&display=swap');

:root {
    --black: black;
    --gray: gray;
    --bg-red: #200202;
    --white: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    
}

html {
    scroll-behavior: smooth;
}
body{
    background-color: #e3ddddc2;
}

/* same properties */


.cards-p {
    font-size: 0.7rem;
    font-weight: 600;
    color: var(--gray);
}

.cards-h1 {
    font-size: 1rem;
    font-weight: 700;
}

.icons-size {
    font-size: 1.5rem;
}

.cards-bor-pad {
    padding: 35px 66px;
    border: 2px solid var(--gray);
    border-radius: 30px;
}

.e-sides {
    border: 2px solid;
}

/* Header Section Css */
#Profile-sec {
    min-height: 100vh;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
}

.nav ul {
    display: flex;
    gap: 30px;
}

.nav ul li {
    list-style: none;
    text-decoration: none;
}

.nav ul li a {
    text-decoration: none;
    color: var(--black);
    font-weight: 500;
    transition: all 300ms ease-in-out;

}

.nav ul li a:hover {
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    color: var(--gray);
}

.name h1 {
    font-size: 20px;
    font-weight: 600;
}

/* Profile Section Css */

.profile {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 7vw;
    margin-top: 15vh;
}

.profile-info {
    text-align: center;
    line-height: 1.7rem;
    margin-left: 30px;
}

.hello {
    font-size: 0.7rem;
    font-weight: 600;
    color: var(--gray)
}

.profile-n {
    font-size: 1.2rem;
    font-weight: 600;
}

.frontend {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--gray);
}

.btn-con {
    display: flex;
    width: 18vw;
    justify-content: space-evenly;
    margin-top: 8px;
}

.cv-link,
.contact {
    width: 6rem;
    border: 1.5px solid var(--black);
    padding: 0.5rem;
    border-radius: 2rem;
    font-size: 10px;
    font-weight: 600;
    cursor: pointer;
}

.contact {
    background-color: var(--bg-red);
    color: var(--white);
}

.links {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

.links .git {
    font-size: 30px;
}

.links .circle {
    background-color: var(--black);
    font-size: 20px;
    color: var(--white);
    border-radius: 50%;
    padding: 5px;
}

/* Profile right-Side */
.pro-img {
    width: 20vw;
    border-radius: 100% 50%;
    background-color: var(--bg-red);
}

.pro-img img {
    width: 20vw;
    height: 45vh;
    border-radius: 50%;
    object-fit: cover;
    filter: grayscale(80%);
    transition: all 200ms ease-in-out;
    transform: scale(1);
}

.profile img:hover {
    width: 20vw;
    height: 45vh;
    border-radius: 50%;
    object-fit: cover;
    filter: grayscale(0%);
    transform: scale(1.02);
}

/* About Me Section */
#About-sec {
    min-height: 100vh;
}

.about-heading {
    text-align: center;
}

.about-heading p {
    font-size: 12px;
    font-weight: 600;
    color: var(--gray);
}

.about-heading h1 {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--black);
}

.about-cards {
    display: flex;
    margin-top: 15vh;
    align-items: center;
}

.about-left {
    margin-left: 5rem;
}

.about-left img {
    width: 30vw;
    height: 60vh;
    object-fit: cover;
    object-position: center;
    transition: all 200ms ease-in-out;
    transform: scale(1);
    border-radius: 25px;
}

.about-left img:hover {
    transition: all 200ms ease-in-out;
    transform: scale(1.02);
}

.about-coloum {
    margin-left: 3rem;
}

.about-right {

    display: flex;
    text-align: center;
    gap: 2rem;
}

.about-self {
    text-align: center;
    width: 51vw;
    margin-top: 2rem;
}


/* Experience Section */
#Experience-sec {
    height: 100vh;
}

.explore {
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    color: var(--gray);
}


.experience-h {
    font-size: 1.7rem;
    font-weight: 600;
    text-align: center;

}

/* skill cards */

.skill-cards-con {
    display: flex;
    justify-content: space-evenly;
    margin-top: 8rem;
}

.skill-boxs {
    border: 2px solid var(--gray);
    width: 35vw;
    height: 45vh;
    border-radius: 25px;
    text-align: center;
}

.skill-boxs>h1 {
    margin-top: 20px;
}

.tools-con {
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
    height: 80%;

}

.lang-right-details,
.lang-left-details {
    flex-direction: column;
    display: flex;
}

.lang-col {
    display: flex;
    margin: 5px;

}

.lang-name h2 {
    font-size: 15px;
    font-weight: 650;

}

.lang-name p {
    font-size: 10px;
    color: var(--gray);
    font-weight: 600;

}

.lang-col>i {
    margin: 10px;
}

/* Project Section */

#Projects-sec {
    min-height: 100vh;
}

.check-p {
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    color: var(--gray);
}

.projects-h {
    font-size: 1.9rem;
    font-weight: 600;
    text-align: center;
}

.projects-con {
    margin-top: 3rem;
    /* border: 2px solid red; */
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 0rem 8rem;
}

.project-cards {
    width: 20vw;
    height: 70vh;
    border: 2px solid var(--gray);
    margin: 30px;
    border-radius: 25px;
}

.pro-img-con {
    width: 80%;
    height: 60%;
    border-radius: 15px;
    margin: 1.5rem;
    transform: scale(1);

}


.pro-img-con:hover {
    transform: scale(1.08);
    transition:transform ease 500ms ;
}



.pro-img-con img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;


}

.proname-h {
    font-size: 20px;
    text-align: center;
}

.Pro-btn-link {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
}

.Pro-btn-link button {
    width: 6rem;
    border: 1.5px solid var(--black);
    padding: 0.5rem;
    border-radius: 2rem;
    font-size: 10px;
    font-weight: 600;
    cursor: pointer;
}

.live-demo{
    background-color: var(--bg-red);
    color: var(--white);
}

/* Contact Section */

#Contact-Sec {
    min-height: 100vh;
    padding-top:10vh;
}

.con-sec-p {
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    color: var(--gray);
}

.con-sec-h {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 700;
    color: var(--black);
}

.contact-link-con{
    display: flex;
    justify-content: center;
}

.contact-link{
    margin-top: 5rem;
    border: 2px solid var(--gray);
    border-radius: 2.5rem;
    display: flex;
    padding: 2rem;
    gap: 3rem;
    justify-content: space-evenly;
}

.gamil-con,.linkedin-con{
    display: flex;
    align-items: center;
}

.gamil-con i,.linkedin-con i{
    font-size: 1.5rem;
    margin-right: 1rem;
}

.gamil-con a,.linkedin-con a{
    color: var(--bg-red);
    text-decoration: none;
}

.footerlink{
    margin-top: 15vh;
    display: flex;
    justify-content: center;
}

.footer-ul{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    padding: 0px 1rem;
}

.footer-ul li{
    list-style: none;
}
.footer-ul li a{
    text-decoration: none;
    color: var(--black);
    font-size: 1.1rem;
    font-weight: 500;
    transition: all 300ms ease-in-out;
}

.footer-ul li a:hover{
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    color: var(--gray);
}


